<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <!-- CMP Application Settings file -->

  <appSettings>
    <!-- Timeout -->
    <add key="timeout" value="30"/>
    <!-- Login Admin -->
    <add key="path" value=""/>
    <!-- <add key="baseURL" value="https://qamdm-auto2.qamdm.com/MDM"/> -->
    <!-- <add key="user" value="auto2_all"/> -->
    <!-- <add key="password" value="gopats@12"/> -->
  <!--  <add key="baseURL" value="https://cmpqa.tangoe.com/cmp151"/> -->
    <add key="baseURL" value="https://dc2cmpqa.tangoe.com/cmp151"/>
    <add key="user" value="cmpadmin"/> 
    <add key="password" value="password"/> 
    <add key="SQLServer" value="qamdm-sql08"/>
    <add key="DBUser" value="sa"/>
   
    <add key ="entityName" value="Thomson"/>
    <add key ="siteId" value="1"/>
    <add key="npanxx" value="5"/>
    <add key="businessHours" value="7"/>
    <add key="date" value="07/07/2015"/> 
    <add key="ldn" value="5555555"/> 
    <add key="phone2" value="9999999"/> 
    <add key="fax" value="0000000"/>
    <add key="street1" value="007"/>
    <add key="street2" value="5th floor"/>
    <add key="street3" value="Queens Street"/>
    <add key="city" value="Washington"/>
    <add key="pincode" value="505050"/>
    <add key="phone1" value="5555555"/>
    <add key="building" value="White House"/>
    <add key="floor" value="5"/>
    <add key="suite" value="797"/>  
    <add key="room" value="979"/>
    <add key="department" value="Encryption"/>
    <add key="firstName" value="Sharath"/>
    <add key="lastName" value="Annaiah"/>
    <add key="typeName" value="S-1"/>
    <add key="typeDescription" value="Super Entity Type"/>


     <!--Firefox --><!--
       <add key="seleniumDriver" value="OpenQA.Selenium.Firefox.FirefoxDriver"/>-->

     <!--Chrome-->
    <!--  <add key="seleniumDriver" value="OpenQA.Selenium.Chrome.ChromeDriver"/>--> 

     <!--IE--> 
    <add key="seleniumDriver" value="OpenQA.Selenium.IE.InternetExplorerDriver"/>

    <add key="seleniumDriverAssembly" value="WebDriver"/>
    <add key="outputPath" value="C:\temp\output.txt"/>

    <add key="buildNumberFile" value="c:\temp\nunitrallyintegrator\build.number"/>
  </appSettings>

</configuration>